* {
  margin: 0;
  padding: 0px;
}
html,
body {
  height: 100%;
}
main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -250px;
  margin-top: 55px;
  width: 100%;
}
ul {
  list-style-type: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #8e9eab;
  height: 50px;
}
footer {
  width: 100%;
  background: #8e9eab;
  height: 250px;
}
.na a:hover {
  background: #ddd;
  color: black;
}
a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
#logo {
  width: 60px;
  height: 50px;
  float: left;
  margin: 0;
}
#aboutUs {
  float: right;
  /* background: inherit; */
}

li {
  display: inline-block;
  padding: 15px;
}

#aboutUsNav {
  background: #81a7d1;
  text-align: center;
}
#footerNav {
  background: #81a7d1;
}
#toFloatRight {
  float: right;
}
