* {
  margin: 0;
  padding: 0px;
}

.img {
  width: 35%;
  display: flex;
  float: left;
}

body {
  height: 100%;
}

#main {
  width: 100%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 4%;
  font-size: 120%;
  font-weight: bold;
}
.team-mates {
  border: 2px solid #a600ff;
  padding: 3%;
  border-radius: 5%;
  background: #e2e4e5;
  margin: 0 3%;
}
#copy {
  margin-right: 2%;
}
#fo {
  text-align: left;
  margin: 2%;
}
[input]text {
  margin-left: 50px;
}
.dq {
  float: right;
  margin: 10% 5%;
  font-weight: bold;
  position: inherit;
  font-size: 130%;
  font-style: italic;
}
.label {
  margin-right: 15px;
}
.ry {
  float: right;
  margin: 10% 2% 10% 30%;
  font-weight: bold;
  position: inherit;
  font-size: 130%;
  font-style: italic;
}
span {
  font-weight: bold;
  font-size: 85%;
}

#description1 {
  margin: 0% 5% -5% 5%;
  font-family: "Cinzel", serif;
  padding: 5%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgba(192, 192, 192, 0.3);
  text-align: center;
}
#dsection {
  color: black;
  padding-top: 10px;
  background-image: url("https://img.freepik.com/free-vector/laptop-with-rocket_23-2147503371.jpg?size=338&ext=jpg");
  font-family: "Cinzel", serif;
}
#headDescription {
  margin-top: 31px;
  margin-top: 10%;
  padding-left: 5%;
}
p {
  font-size: 120%;
  position: inherit;
  margin-top: 40%;
  font-family: "Noto Sans", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #8e9eab;
  height: 50px;
  z-index: 1;
}

footer {
  width: 100%;
  background: #8e9eab;
  margin-top: 8%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  text-decoration-line: underline;
}
#logo {
  width: 60px;
  height: 50px;
  float: left;
  margin: 0;
}
#aboutUs {
  float: right;
  color: black;
}

#aboutUsNav {
  background: #81a7d1;
  text-align: center;
  height: 50px;
}
#footerNav {
  background: #81a7d1;
  height: 50px;
}
#copyNav {
  background: #81a7d1;
  text-align: right;
}
#bu {
  padding: 5px;
  margin-left: 13%;
}
#bu:hover {
  background-color: darkgray;
}
#fake1,
#fake2,
#fake3,
#fake4 {
  color: white;
}
#fake {
  color: gainsboro;
  text-shadow: none;
}
#title {
  font-family: "Swanky and Moo Moo", cursive;
  /* font-size: 270%; */
  padding: 1% 0 5% 5%;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}
form label {
  padding-right: 3%;
}
